body{
  font-family: 'Open Sans',sans-serif;
  margin:0;
  padding:0;
  font-size:16px;
}
#header{
  background-color: #24292e;
  height:38px;
  padding:20px 10px;
}
#header img{
  width:45px;
  height:45px;
  vertical-align:middle;
  padding:0 6px;
  border-radius:50%; //圆角
}
#header input{
  width:350px;
  height:32px;
  padding:0;
  margin: 0 6px;
  border: none;
  vertical-align:middle;
  border-radius:4px;
  color:darkgrey;
 /*圆角*/
  outline: none;    /*消除默认点击蓝色边框效果*/
  background-color:dimgrey;
}
#header button{
  width:45px;
  height:45px;
  vertical-align:middle;
  position:absolute;
  left:6px;
  top:20px;
  border-radius:8px; /*圆角*/
  outline: none;    /*消除默认点击蓝色边框效果*/
}
.menu{
  margin:0 15%;
  /*margin:auto;*/
  width:70%;
  height:100%;
  /*background-color: red;*/
  display:inline-block;
}
#header a{
  text-decoration:none;
  margin:0 7px;
}
#header a:link,#header a:visited{color:white;}
#header a:hover,#header a:active{color:gray;}

.directory{
  width:100%;
  height:85px;
  background-color:#fafbfc;
  border-bottom: 1px solid #e1e4e8;
}
.total_menu{
  height:50px;
  line-height: 50px;
  color:#0366d6;
}
.menu_block{
  /* margin-top:50px; */
  /* background-color: gray; */
  width:75px;
  height:32.5px;
  text-align:center;
  line-height: 35px;
  display: inline-block;
}
.menu_block_border{
  border: 1px solid  #e1e4e8;
  border-top:2.5px solid red;
  border-bottom: none;
}

.directory a{
  text-decoration:none;

}
.directory a:link,.directory a:visited{color:#444343;}
.directory a:hover,.directory a:active{color:black;}


.content{
  background-color:#fafbfc;
  width:68%;
  border: 1px solid #e1e4e8;
  border-radius:3px; /*圆角*/
  margin:3px auto;
  padding:0 2%;
}
.content .title{
  margin: 0 auto;
  border-bottom:1px solid #e1e4e8;
}
.title p{
  font-size: 13px;
  color:gray;
}

#content_left{
  background-color: yellow;
  width:25%;
  display:inline-block;
}
#content_left .menu{
  width:100%;
  height:100px;
  border: 1px solid gray;
}
#content_left a{
  color:gray;
}
#content_right{
  background-color: gray;
  display:inline-block;
  width:75%;
}
#content_right  .menu{
  width:100%;
  height:100px;
  border: 1px solid gray;
}
