*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
}
ul{
  list-style: none;
}
button{
  outline: none;
}
body{
    /* font-family: 'Open Sans',sans-serif; */
  font-family: 'KaiTi' 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  font-size:18px;
  background-color: #e6e6e6;
  /* cursor: url('../ermiao_images/miao3.jpg'), default; */
  /* 设置光标图像 */
}
.header{
  width: 100%;
  height:580px;
  position: relative;

}
.header img{
  width: 100%;
  height: 100%;
/* filter:alpha(opacity=80);  /* for IE */
 /*opacity:0.8; /* CSS3 standard
  display: block;/* 去除间隙 */
}
.header ul{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: justify;
  text-align-last: justify;
  position: absolute;
  bottom: 0;
}
.header li{
  display: inline-block;
  margin:0 30px;
}

.header .shadow{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  /* background-color: white; */
  background-image: url(../ermiao_images/timg2.jpg);
  filter:alpha(opacity=30);
  /* CSS3 standard */
  opacity:0.3;
}
.header a{
    color: white;
}
.header span{
  position: absolute;
  top:200px;
  left: 100px;
  font-size: 25px;
  color: white;
}

#header input{
  width:350px;
  height:32px;
  /* padding:0; */
  margin: 0 6px;
  border: none;
  vertical-align:middle;
  border-radius:4px;
  color:darkgrey;
 /*圆角*/
  outline: none;    /*消除默认点击蓝色边框效果*/
  background-color:dimgrey;
}
#header button{
  width:45px;
  height:45px;
  vertical-align:middle;
  position:absolute;
  left:6px;
  top:15px;
  border-radius:8px; /*圆角*/
  /* outline: none;    /*消除默认点击蓝色边框效果*/ */
}
.menu{
  margin:0 auto;
  width:84%;
  height:100%;
}
#header a{
  margin:0 7px;
}
#header a:link,#header a:visited{color:white;}
#header a:hover,#header a:active{color:gray;}

.content{
  /* border: 1px solid #e1e4e8; */
  margin:25px;

}
.show-content{
  float: left;
  width: 900px;
  margin-right: 30px;
}
.show-menu{
  overflow: hidden;
  background-color: white;
  height: 400px;
  border-radius: 8px;
}
.show-content-item{
  background-color: white;
  border: 1px solid  #e1e4e8;
  border-radius: 8px;
  height: 400px;
  margin-bottom:20px;
  padding: 30px;
  position: relative;
  color: #6a6a6a;
}
.show-content-item button{
  position:absolute;
  bottom: 30px;

  width: 85px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color:#3b3b3b;
  color: white;
}

.mark{
  text-align: center;
  width: 100px;
  height: 80px;
  background-color: green;
  border-radius: 2px 2px 0 0;
  position: absolute;
  right: 30px;
  top:0;
}
.mark p{
  font-size: 15px;
  color: white;
}

.mark div{
  position:absolute;
  bottom: 0;
  border-width:0 50px 27px ;
  border-style:solid;
  border-color:transparent transparent white;
}


.content li:not(:first-of-type){
  display: none;
}

.content p:first-of-type{
  /* border:1px solid #e1e4e8; */

  margin:8px auto;
  padding:3px;
  /* font-size: 13px; */
  /* color:gray; */
  /* width:0;
height:0;
border-width:0 50px 20px  ;
border-style:solid;
border-color:transparent transparent #095; */
}


#content_left{
  background-color: yellow;
  width:25%;
  display:inline-block;
}
#content_left .menu{
  width:100%;
  height:100px;
  border: 1px solid gray;
}
#content_left a{
  color:gray;
}
#content_right{
  background-color: gray;
  display:inline-block;
  width:75%;
}
#content_right  .menu{
  width:100%;
  height:100px;
  border: 1px solid gray;
}

#hidden_tree{
  position:absolute;
  left:0px;
  top:0px;
  padding:2%;
  width:8%;
  height:100%;
  background-color: white;
  text-align: center;
  /* visibility: visible; */
  display:none; /*隐藏侧边栏*/
}

#hidden_tree img{
 width:87px;
 height:87px;
 border-radius:50%; //圆角
}
#hidden_tree .box{
  padding:10px;
  height:20px;
  display:block;
  text-align:justify;
}
#hidden_tree a{
  color:black;
}
#hidden_tree button{
  position:absolute;
  right: 2px;
  top:2px;
  width:25px;
  height:25px;
  border-radius:20%; /*圆角 */
  outline: none;    /*消除默认点击蓝色边框效果*/
}
